In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s=pd.read_csv("/Users/aryantanwar/Desktop/SKYHACK/Datasets/Inflight Service_Inventory data.csv")

In [4]:
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61267 entries, 0 to 61266
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   flight_number            61267 non-null  int64
 1   departure_station_code   61267 non-null  object
 2   arrival_station_code     61267 non-null  object
 3   scheduled_departure_dtl  61267 non-null  object
 4   entree_product_id        61267 non-null  int64
 5   entree_description       61267 non-null  object
 6   entree_code              61267 non-null  object
 7   planned_entree_count     61267 non-null  int64
 8   consumed_entree_count    61267 non-null  int64
dtypes: int64(4), object(5)
memory usage: 4.2+ MB

In [5]:
s

,flight_number,departure_station_code,arrival_station_code,scheduled_departure_dtl,entree_product_id,entree_description,entree_code,planned_entree_count,consumed_entree_count
0,2634,IAX,PDX,9/1/2022,58019,Belgium waffle,WF,20,32
1,2666,ORX,IAX,9/1/2022,60549,Vegetarian chili and polenta cake,V,3,0
2,2310,DEX,SAX,9/2/2022,58981,Scrambled eggs,O,9,7
3,1712,SFX,CLX,9/4/2022,58764,Mediterranean Falafel Bowl,V,1,0
4,1225,LAX,HNX,9/8/2022,60549,Vegetarian chili and polenta cake,V,1,0
...,...,...,...,...,...,...,...,...,...
61262,711,ORX,AUX,9/20/2022,61524,Scrambled eggs,O,6,5
61263,1914,IAX,LAX,9/30/2022,61360,Brioche cheeseburger,B,3,0
61264,1417,IAX,LAX,9/23/2022,60987,Impossible Meatball Bowl,V,6,5
61265,1005,LAX,ITX,9/30/2022,54759,Seared beef short rib,B,6,0
61266,583,YYX,SFX,9/20/2022,45351,Teriyaki chicken,C,10,6

In [6]:
s.head()

,flight_number,departure_station_code,arrival_station_code,scheduled_departure_dtl,entree_product_id,entree_description,entree_code,planned_entree_count,consumed_entree_count
0,2634,IAX,PDX,9/1/2022,58019,Belgium waffle,WF,20,32
1,2666,ORX,IAX,9/1/2022,60549,Vegetarian chili and polenta cake,V,3,0
2,2310,DEX,SAX,9/2/2022,58981,Scrambled eggs,O,9,7
3,1712,SFX,CLX,9/4/2022,58764,Mediterranean Falafel Bowl,V,1,0
4,1225,LAX,HNX,9/8/2022,60549,Vegetarian chili and polenta cake,V,1,0

In [7]:
pod=pd.read_csv("/Users/aryantanwar/Desktop/SKYHACK/Datasets/Inflight Service_Pre order data.csv")

In [8]:
pod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212039 entries, 0 to 212038
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   flight_number            212039 non-null  int64
 1   departure_station_code   212039 non-null  object
 2   arrival_station_code     212039 non-null  object
 3   record_locator           212039 non-null  object
 4   carrier_code             212039 non-null  object
 5   scheduled_departure_dtl  212039 non-null  object
 6   cabin_code               212039 non-null  object
 7   meal_group               191728 non-null  object
 8   meal_category            191728 non-null  object
 9   meal_short_description   212039 non-null  object
 10  meal_description         137062 non-null  object
 11  is_entree                191728 non-null  object
 12  pre_order_qty            212039 non-null  int64
dtypes: int64(2), object(11)
memory usage: 21.0+ MB

In [9]:
pod

,flight_number,departure_station_code,arrival_station_code,record_locator,carrier_code,scheduled_departure_dtl,cabin_code,meal_group,meal_category,meal_short_description,meal_description,is_entree,pre_order_qty
0,1423,INX,DEX,B3XX1H,UA,9/1/2022,J,ENTREES HOT,POULTRY,"Za'atar chicken with spinach, roasted peppers,...","Za'atar chicken with spinach, roasted peppers,...",Y,1
1,1620,IAX,CUX,BFXXJC,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,2
2,1852,ORX,PDX,DPXX2H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Tomato and kale baked egg,Tomato and kale baked egg with fire roasted re...,Y,1
3,548,IAX,SFX,ELXX8H,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Scrambled eggs,"Scrambled eggs with ham, onion and peppers",Y,2
4,1155,IAX,CUX,NCXX4S,UA,9/2/2022,J,ENTREES HOT,BREAKFAST,Belgium waffle,Belgium waffle with bourbon banana fosters sau...,Y,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
212034,2189,DEX,FLX,PDXXCY,UA,9/14/2022,Y,UNITED CATERER OWNED 88-3F,SNACKS,SkinnyDippedÂ® Lemon Bliss Almonds,NaN,N,1
212035,1618,LAX,ORX,KZXXFK,UA,9/14/2022,Y,NaN,NaN,Sparkling Wine,NaN,NaN,1
212036,1498,SFX,IAX,O3XX7J,UA,9/11/2022,Y,ALCOHOL BEVERAGES,GENERIC INT WINE A,Red Wine,Red Wine 187ml,N,1
212037,1830,EWX,SFX,BQXXYW,UA,9/14/2022,Y,LIQUOR,LIQUOR,Buffalo Trace,NaN,N,1
212038,2237,ORX,DEX,FJXX14,UA,9/30/2022,J,ENTREES HOT,POULTRY,Zaâ€™atar chicken,NaN,Y,1

In [10]:
ifss=pd.read_csv("/Users/aryantanwar/Desktop/SKYHACK/Datasets/Survey data_Inflight Satisfaction Score.csv")

In [11]:
ifss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47074 entries, 0 to 47073
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   flight_number                     47074 non-null  int64
 1   origin_station_code               47074 non-null  object
 2   destination_station_code          47074 non-null  object
 3   record_locator                    47074 non-null  object
 4   scheduled_departure_date          47074 non-null  object
 5   question_text                     47074 non-null  object
 6   score                             47074 non-null  object
 7   satisfaction_type                 34963 non-null  object
 8   driver_sub_group1                 47074 non-null  object
 9   driver_sub_group2                 47074 non-null  object
 10  arrival_delay_minutes             47074 non-null  int64
 11  arrival_delay_group               47074 non-null  object
 12  cabin_code_desc                   47074 non-null  object
 13  cabin_name                        27094 non-null  object
 14  entity                            47071 non-null  object
 15  number_of_legs                    47074 non-null  int64
 16  seat_factor_band                  47074 non-null  object
 17  loyalty_program_level             35458 non-null  object
 18  generation                        47074 non-null  object
 19  fleet_type_description            47074 non-null  object
 20  fleet_usage                       47074 non-null  object
 21  equipment_type_code               47074 non-null  object
 22  ua_uax                            47074 non-null  object
 23  actual_flown_miles                47074 non-null  int64
 24  haul_type                         47074 non-null  object
 25  departure_gate                    46977 non-null  object
 26  arrival_gate                      46547 non-null  object
 27  international_domestic_indicator  47074 non-null  object
 28  response_group                    47074 non-null  object
 29  media_provider                    45535 non-null  object
 30  hub_spoke                         47074 non-null  object
dtypes: int64(4), object(27)
memory usage: 11.1+ MB

In [12]:
cc=pd.read_csv("/Users/aryantanwar/Desktop/SKYHACK/Datasets/Survey data _Customer comments.csv")

In [13]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   flight_number             9424 non-null   int64
 1   origin_station_code       9424 non-null   object
 2   destination_station_code  9424 non-null   object
 3   scheduled_departure_date  9424 non-null   object
 4   arrival_delay_group       9424 non-null   object
 5   departure_delay_group     9424 non-null   object
 6   entity                    9424 non-null   object
 7   verbatim_text             9424 non-null   object
 8   seat_factor_band          9424 non-null   object
 9   ques_verbatim_text        9424 non-null   object
 10  loyalty_program_level     6920 non-null   object
 11  fleet_type_description    9424 non-null   object
 12  fleet_usage               9424 non-null   object
 13  response_group            9424 non-null   object
dtypes: int64(1), object(13)
memory usage: 1.0+ MB

In [14]:
pod.count()

flight_number              212039
departure_station_code     212039
arrival_station_code       212039
record_locator             212039
carrier_code               212039
scheduled_departure_dtl    212039
cabin_code                 212039
meal_group                 191728
meal_category              191728
meal_short_description     212039
meal_description           137062
is_entree                  191728
pre_order_qty              212039
dtype: int64

In [36]:
ifss.count()

flight_number                       47074
origin_station_code                 47074
destination_station_code            47074
record_locator                      47074
scheduled_departure_date            47074
question_text                       47074
score                               47074
satisfaction_type                   34963
driver_sub_group1                   47074
driver_sub_group2                   47074
arrival_delay_minutes               47074
arrival_delay_group                 47074
cabin_code_desc                     47074
cabin_name                          27094
entity                              47071
number_of_legs                      47074
seat_factor_band                    47074
loyalty_program_level               35458
generation                          47074
fleet_type_description              47074
fleet_usage                         47074
equipment_type_code                 47074
ua_uax                              47074
actual_flown_miles                  47074
haul_type                           47074
departure_gate                      46977
arrival_gate                        46547
international_domestic_indicator    47074
response_group                      47074
media_provider                      45535
hub_spoke                           47074
dtype: int64

In [37]:
ifss.mean()

/var/folders/9q/6bd9r_1n6yvdn5z1708mrcfr0000gn/T/ipykernel_24225/913101045.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  ifss.mean()

flight_number            1529.855207
arrival_delay_minutes      -1.702490
number_of_legs              1.344118
actual_flown_miles       2477.737732
dtype: float64

In [38]:
ifss

,flight_number,origin_station_code,destination_station_code,record_locator,scheduled_departure_date,question_text,score,satisfaction_type,driver_sub_group1,driver_sub_group2,...,equipment_type_code,ua_uax,actual_flown_miles,haul_type,departure_gate,arrival_gate,international_domestic_indicator,response_group,media_provider,hub_spoke
0,3802,MKX,ORX,CYXXJJ,9/1/2022,How satisfied were you with the food & beverag...,2,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRZ,UAX,67,Short,C12,F10,Domestic,non-member,NaN,spoke departure
1,4645,COX,DEX,DRXXMH,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,5,B60,Domestic,member,GOGO,spoke departure
2,5236,COX,DEX,DEXXS1,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,7,A71,Domestic,member,GOGO,spoke departure
3,4686,DEX,COX,PXXXLH,9/1/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRJ,UAX,72,Short,B82,5,Domestic,member,NaN,hub departure
4,671,DEX,COX,KZXXH5,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,19F,UA,72,Short,B24,3,Domestic,member,PANASONIC,hub departure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47069,2,SFX,SIX,IPXXM3,9/30/2022,How satisfied were you with the food & beverag...,4,Satisfied,food & beverage,food and beverage satisfaction,...,78P,UA,8440,Long,G9,F52,International,non-member,PANASONIC,hub departure
47070,2,SFX,SIX,O5XXK4,9/30/2022,How satisfied were you with the food & beverag...,4,Satisfied,food & beverage,food and beverage satisfaction,...,78P,UA,8440,Long,G9,F52,International,member,PANASONIC,hub departure
47071,3,SIX,SFX,G8XX3W,9/30/2022,How satisfied were you with the food & beverag...,1,Dissatisfied,food & beverage,food and beverage satisfaction,...,78P,UA,8440,Long,F52,G2,International,member,PANASONIC,spoke departure
47072,3,SIX,SFX,G8XX3W,9/30/2022,What item did you choose?,chicken entrÃ©e,NaN,food & beverage,comp,...,78P,UA,8440,Long,F52,G2,International,member,PANASONIC,spoke departure
47073,2,SFX,SIX,O5XXK4,9/30/2022,What item did you choose?,chicken entrÃ©e,NaN,food & beverage,comp,...,78P,UA,8440,Long,G9,F52,International,member,PANASONIC,hub departure

In [39]:
ifss.head()

,flight_number,origin_station_code,destination_station_code,record_locator,scheduled_departure_date,question_text,score,satisfaction_type,driver_sub_group1,driver_sub_group2,...,equipment_type_code,ua_uax,actual_flown_miles,haul_type,departure_gate,arrival_gate,international_domestic_indicator,response_group,media_provider,hub_spoke
0,3802,MKX,ORX,CYXXJJ,9/1/2022,How satisfied were you with the food & beverag...,2,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRZ,UAX,67,Short,C12,F10,Domestic,non-member,NaN,spoke departure
1,4645,COX,DEX,DRXXMH,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,5,B60,Domestic,member,GOGO,spoke departure
2,5236,COX,DEX,DEXXS1,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,E75,UAX,72,Short,7,A71,Domestic,member,GOGO,spoke departure
3,4686,DEX,COX,PXXXLH,9/1/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,CRJ,UAX,72,Short,B82,5,Domestic,member,NaN,hub departure
4,671,DEX,COX,KZXXH5,9/1/2022,How satisfied were you with the food & beverag...,5,Satisfied,food & beverage,food and beverage satisfaction,...,19F,UA,72,Short,B24,3,Domestic,member,PANASONIC,hub departure

In [40]:
ifss.head(100).tail(2)

,flight_number,origin_station_code,destination_station_code,record_locator,scheduled_departure_date,question_text,score,satisfaction_type,driver_sub_group1,driver_sub_group2,...,equipment_type_code,ua_uax,actual_flown_miles,haul_type,departure_gate,arrival_gate,international_domestic_indicator,response_group,media_provider,hub_spoke
98,1433,JAX,DEX,DYXXSN,9/1/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,19F,UA,406,Short,8,B49,Domestic,member,PANASONIC,spoke departure
99,284,BNX,ORX,FTXXKB,9/1/2022,How satisfied were you with the food & beverag...,3,Dissatisfied,food & beverage,food and beverage satisfaction,...,73G,UA,409,Short,A8,B9,Domestic,member,THALES,spoke departure

In [41]:
ifss.mean()

/var/folders/9q/6bd9r_1n6yvdn5z1708mrcfr0000gn/T/ipykernel_24225/1766096652.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  ifss.mean()

flight_number            1529.855207
arrival_delay_minutes      -1.702490
number_of_legs              1.344118
actual_flown_miles       2477.737732
dtype: float64